<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Kane Library Management</title>
<link rel="stylesheet" href="homePage.css">
</head>
<body>
	<div class="container">
		<h1>Kane Library Management</h1>
		<a href="/issueBook" class="button">Issue a Book</a> <a
			href="/returnBook" class="button">Return a Book</a> <a
			href="/bookList" class="button">List of Books</a> <a
			href="/searchBook" class="button">Search a Book</a>
	</div>
	<footer style="text-align: center">
		<p>&copy; 2024 Kane Library Management System. All rights
			reserved.</p>
	</footer>
</body>
</html>
